/* latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url(/homepage_statics/fonts/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format('woff2'), url(/homepage_statics/fonts/8Lg6LX8-ntOHUQnvQ0E7o2jf3WypfQQP02nP_ZmoBRo.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#tonight {
    width: 644px;
    height: 796px;
    margin: 0 auto;
    background: url('tonight.png');
    padding-top: 0px;
}

body {
    background: url('sides.png') repeat-x;
    background-color: #26afa8;
    margin: 0;
    font-family: 'Press Start 2P', "Arial";
    color: #93df23;
    text-shadow: 2px 2px 0px #E980D8;
    text-transform: uppercase;
    padding-bottom: 0;
    letter-spacing: 4px;
}

a {
    color: #93df23;
    text-shadow: 2px 2px 0px #E980D8;
    text-transform: uppercase;
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0px;
    margin-bottom: 14px;
    font-size: 26px;
}

.paragraph {
    text-indent: 50px;
}

.text-container {
    padding: 26px;
}