@font-face {
        font-family: 'Michroma';
        font-style: normal;
        font-weight: 400;
        src: local('Press Start 2P'), url(/homepage_statics/Michroma.ttf);
    }


#body-container {
    margin: 0 auto;
    background: #000;
    padding-top: 0px;
    width: 100%;
}

body {
    background: #000;
    margin: 0;
    font-family: 'Michroma', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 0;
    letter-spacing: 4px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

li {
    margin-left: 0px;
    font-size: 26px;
    padding: 5px 0 5px 10px;

}

.paragraph {
    text-indent: 50px;
}

.text-container {
    padding: 0px;
}

#name {
    color: #feee88;
}

.selected > a {
    background: #fff;
    color: #000;
}

.selected {
    background: #fff;
    color: #000;
}

li > a:focus {
    outline:0;
}

li > a {
    display: inline-block;
    width: 100%;
}

h1 {
    padding: 10px;
}

@media (min-width:1281px) {
    #body-container {
        width: 644px;
        margin: 0 auto;
        background: #000;
        padding-top: 0px;
    }
}
